/* a.btn.btn-text-warning.far.fa-heart:hover {
  color: yellow;
} */

.far.fa-heart:hover{
  color: yellow;

}

/* div.row.row-cols-1.row-cols-md-3.overflow {
  overflow: hidden; 
  overflow: scroll;
  overflow: visible;
  overflow:  visible 
} */

